@import "utility.css";
:root{
    --primary: #393E46;
    --secondary: #F7F7F7;
    --primary-accent: #929AAB;
    --secondary-accent: #EEEEEE;
}

.nav {
    position: fixed;
    display: flex;
    height: 80px;
    width: 100%;
    background-color: var(--secondary);
    font-family: "Poppins", sans-serif;
    z-index: 1;
}

.nav-inner{
    display: flex;
    flex: 1 0 100%;
    height: 80px;

}

#list{
    display: flex;
    padding-left: 0;
    margin: 0;
    list-style: none;
}

#list li{
    display: flex;
    margin-left: 25px;
    padding: 25px;
}

#list li .nav-clickable{
    width: 100%;
    height: 100%;
}

.nav-section{
    text-align: center;
}

.nav-section.active{
    transition: 750ms ease-out;
    color: white;
    font-weight: bold;
    background-color: var(--primary);
    height: 35px;
    box-shadow: 0 5px 3px 1px rgba(0,0,0, 25%);
}

